.sidebar {
    background-color: white;
    position: fixed;
    left: 0;
    top: 56px;
    bottom: 0;
    width: 72px;
    box-sizing: border-box;
    border-right: 5px;
    z-index: 200;
    padding-top: 5px;
}

.sidebar-link {
    height: 74px;
    margin-bottom: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /*displays our content vertically*/
    cursor: pointer;
}

.sidebar-link:hover {
    background-color: rgb(235, 235, 235);
}

.sidebar-link img { /*targets img inside .sidebar-link*/
    height: 24px;
    margin-bottom: 4px;
}

.sidebar-link div {
    font-family: Roboto, arial;
    font-size: 10px;
}
.sidebar {
    background-color: white;
    position: fixed;
    left: 0;
    top: 56px;
    bottom: 0;
    width: 72px;
    box-sizing: border-box;
    border-right: 5px;
    z-index: 200;
    padding-top: 5px;
}

.sidebar-link {
    height: 74px;
    margin-bottom: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; /*displays our content vertically*/
    cursor: pointer;
}

.sidebar-link:hover {
    background-color: rgb(235, 235, 235);
}

.sidebar-link img { /*targets img inside .sidebar-link*/
    height: 24px;
    margin-bottom: 4px;
}

.sidebar-link div {
    font-family: Roboto, arial;
    font-size: 10px;
}

 .popup-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 1000;
}

/* Show when active */
.popup-overlay.active {
  visibility: visible;
  opacity: 1;
}

/* Popup box */
.popup-box {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.popup-box button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background: #febd68;
  color: #111;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.popup-box button:hover {
  background: orange;
}